/*intro image to page*/
#top-image{
    width: 100%;
    height: 400px;
    padding-top: 200px;
    background-image: url(../images/top-image.jpg);
    background-size: cover;
}

/*grid area and formating */
main {
    max-width: 100%;
    padding-top: 50px;
    margin: 0;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 12.5% 40% 40%;
    grid-auto-rows: minmax(200px, auto);
    grid-template-areas: 
    "abouttitle paragraph paragraph"
    "worktitle refactor refactor"
    "worktitle refactor refactor"
    "worktitle refactor refactor"
    "worktitle mini2 mini1"
    "worktitle mini2 mini1"
    "worktitle scratch mini1"
    "worktitle scratch mini1";
}

/*about me section*/
#self {
    height: 150px;
    width: auto;
    padding-right: 8px;
}

#abouttitle {
    grid-area: abouttitle;
    border-right: solid 5px black;
}

#para {
    grid-area: paragraph;
}

/*work sub section*/
#workTitle {
    grid-area: worktitle;
    border-right: solid 5px black;
}

