main {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#wrapper {
    display: flex;
    width: 900px;
    justify-content: space-between;
}

form {
    width: 350px;
    display: flex;
    flex-direction: column;
}

form input{
    border-radius: 30px;
    margin-bottom: 15px;
    padding: 5px;
}
form input:hover {
    border-color: #1a759fff;
}

form textarea {
    border-radius: 10px;
    height: 200px;
    margin-bottom: 15px;
    padding: 5px;
}

form textarea:hover {
    border-color: #1a759fff;
}

form button {
    border-radius: 30px;
    padding: 10px;
}

form button:hover {
    border-color: #1a759fff;
}

body h1 {
 text-align: center;
 font-size: 90px;
 font-weight: 900;
 margin-top: 0;
 margin-bottom: 30px;
}

nav {
    display: flex;
    list-style-type: none;
    width: 300px;
    justify-content: space-between;
    margin-bottom: 15px;
}

nav li {
    align-items: center;
    position: relative;
}

li a {
    text-decoration: none;
    position: absolute;
    top: 12%
}
