#profile {
    width: 550px;
    border-radius: 100px;
}

#text h1 {
    font-family: 'Pacifico', cursive;
    font-size: 90px;
    font-weight: 1000;
    margin-top: 0;
    margin-bottom: 0px;
}

#text h3 {
 letter-spacing: 10px;
 margin-top: 0;
 margin-bottom: 10px;
}
#text h2 {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

main{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

main img, main section {
    display: inline-block;
    margin: 1em;
}
body{
    overflow: hidden;
}






bodycolourScheme {
 color: #d9ed92ff; /*key-lime*/
 color: #b5e48cff; /*yellow-green-crayola*/
 color: #99d98cff; /*granny-smith-apple*/
 color: #76c893ff; /*ocean-green*/
 color: #52b69aff; /*keppel*/
 color: #34a0a4ff; /*-viridian-green*/
 color: #168aadff; /*blue-munsell*/
 color: #1a759fff; /*celadon-blue*/
 color: #1e6091ff; /*lapis-lazuli*/
 color: #184e77ff; /*yale-blue*/
}