#profile {
    width: 550px;
    border-radius: 100px;
}

#text h1 {
    font-family: 'Pacifico', cursive;
    font-size: 90px;
    font-weight: 1000;
    margin-top: 0;
    margin-bottom: 0px;
}

#text h3 {
 letter-spacing: 10px;
 margin-top: 0;
 margin-bottom: 10px;
}
#text h2 {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

main{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

main img, main section {
    display: inline-block;
    margin: 1em;
}
body{
    overflow: hidden;
}

/* Small devices (portrait tablets and large phones, 667px and bellow) */
@media only screen and (max-width: 667px) {
    .cn-wrapper{
        width: 23em;
        height: 23em;
        margin-left: -13em;
        margin-left: -13em;
        top: 71%;
    }

    main {
        flex-direction: column-reverse;
    }

    #profile {
        width: 250px;
    }

    #text h1 {
        font-size: 50px;
    }

    #text h2 {
        font-size: 20px;
    }

    #text h3 {

        font-size: 10px;
        margin-bottom: 0px
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width:668px) and (max-width: 768px) {

    main{
        display: grid;
        grid-template-columns: 50vw 50vw;
        grid-template-rows: 50vh 50vh;
        margin-left: -100px;
        margin-bottom: 70px;
    }
    
    #profile {
        width: 400px;
        border-radius: 100px;
        grid-column: 2;
        grid-row: 2;
    }

    #text {
            grid-column: 1/3;
            width: 600px;
            margin-left: 100px;
        }
    }





bodycolourScheme {
 color: #d9ed92ff; /*key-lime*/
 color: #b5e48cff; /*yellow-green-crayola*/
 color: #99d98cff; /*granny-smith-apple*/
 color: #76c893ff; /*ocean-green*/
 color: #52b69aff; /*keppel*/
 color: #34a0a4ff; /*-viridian-green*/
 color: #168aadff; /*blue-munsell*/
 color: #1a759fff; /*celadon-blue*/
 color: #1e6091ff; /*lapis-lazuli*/
 color: #184e77ff; /*yale-blue*/
}